<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>STATISTIC</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table>
    <caption>YOUR STATISTIC</caption>
    <th:block th:each="statistic:${bookCount}">
        <tr>
            <th>Books Read:</th>
            <td th:text="${bookCount}"></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
    </th:block>
</table>
</body>
</html>