<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/29/29302.png">
    <title>New request</title>
</head>
<body>
<form th:method="POST" th:action="@{/journal}">
    <label for="ur">Select user: </label>
    <select id="ur" th:name="user">
        <option th:each="u : ${users}"
                th:value="${u.getId()}"
                th:text="${u.getName()}">
        </option>
    </select>
    <br/>
    <label for="bk">Select book: </label>
    <select id="bk" th:name="book">
        <option th:each="b : ${books}"
                th:value="${b.getId()}"
                th:text="${b.getTitle()}">
        </option>
    </select>
    <br/>

    <input type="submit" value="Add"/>
</form>
</body>
</html>