<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org>" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>All authors</title>
</head>
<body>
<h1>All authors: </h1>

<div th:each="author : ${allAuthors}">
    <a th:href="@{/author/{id}(id=${author.getId()})}" th:text="${author.firstName + ' ' + author.lastName}"></a>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN')">
    <a th:href="@{/author/create}">Add new author</a>
</div>
</body>
</html>