<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add author</title>
</head>
<body>

<form action="#" th:method="post" th:action="@{/author/add}" th:object="${author}">
    <label for="name">Input name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Input surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <input type="submit" value="Add"/>
</form>
</body>
</html>