<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/29/29302.png">
    <title>Books</title>
    <style>
        div {
            padding: 5px;
            font-size: 15px;
            font-weight: bolder;
        }

    </style>
</head>
<body>
<h1 style="color:red" th:text="${bookNotFound}"></h1>
<h2>Books available:</h2>
<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}"></a>
</div>


<form th:action="@{/books/findBookByTitle}">
	<input type="text" th:name="title">
    <input type="submit" value="Find book"/>
</form>
<form th:action="@{/books/new}" >
    <input type="submit" value="Add new book"/>
</form>

<form th:action="@{/author}" >
    <input type="submit" value="Find by author"/>
</form>

<form th:action="@{users}">
    <input type="submit" value="All users">
</form>
</body>
</html>