<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<form th:method="POST" th:action="@{/books}" th:object="${book}">
		<label for="title">Enter name: </label> 
		<input type="text" th:field="*{title}" id="title"/> 
		<br/> 
		<label for="copies">Enter copies: </label> 
		<input type="number" th:field="*{copies}" id="copies"/> 
		<br/>
		<label for="avgTimeReading">Enter averenge reading time: </label> 
		<input type="datetime" th:field="*{averengeReadingTime}" id="avgTimeReading"/> 
		<br/>
		<input type="submit" value="Create!"/>
	</form>
	<br>
	<a th:href="allBooks">Cancel</a>
</body>
</html>