<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<form th:action="@{search}" method="get">
    <label for="name">Search book:</label>
    <input type="text" name="name" id="name" th:value="${name}"/>
    <input type="submit" value="Search"/>
</form>
    <table>
        <caption>BOOKS</caption>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Count</th>
        </tr>

        <th:block th:each="book:${books}">
            <tr th:each="author:${book.authors}">
                <td><a th:text="${book.getBookId()}" th:href="@{/books/{id}(id=${book.getBookId()})}">id</a></td>                <td th:text ="${author.name+author.surname}">name</td>
                <td th:text = "${book.getTitle}">title</td>
                <td th:text = "${book.getGenre}">genre</td>
                <td th:text = "${book.getCount}">count</td>
            </tr>
        </th:block>
    </table>
</body>
</html>