<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Author N</th>
            <th>Author S</th>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Count</th>
        </tr>

        <th:block th:each="book:${books} ">
            <tr>
                <td th:text="${book.getBookId}"></td>
                <td th:text="${book.getAuthorId}"></td>
                <td th:text="${book.getTitle}"></td>
                <td th:text="${book.getDescription}"></td>
                <td th:text="${book.getGenre}"></td>
                <td th:text="${book.getCount}"></td>
            </tr>
        </th:block>


    </table>
    <button type="button" onclick="window.history.go(-1);">Back</button>
</div>
<div>


</div>

</body>
</html>