<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>
<body>
<div th:if="${#authentication == null}"></div>
<form th:method="POST" th:action="@{/login}">
    <label for="username">Enter email:</label>
    <input type="email" name="email" id="username"/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="password" name="password" id="password"/>
    <br/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Login!"/>
</form>

</body>
</html>