<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/29/29302.png">
    <title>Library</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>

<h1> Welcome to the Library!</h1>
<h4>The Team Library #5 is the largest library in the country.
    We look forward to helping you achieve and succeed.
    Library staff are here to support your studies and continued academic learning,
    providing you with the skills and tools to make the most of your time here pleasured.</h4>


<form th:action="@{/books}" >
    <input type="submit" value="Find books"/>
</form>
<form th:action="@{/author}" >
    <input type="submit" value="All authors"/>
</form>

<form th:action="@{/users}">
    <input type="submit" value="Show all users">
</form>

</body>
</html>