<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ORDERS</title>
</head>
<body>
<table>
    <caption>ORDERS</caption>
    <tr>
        <th scope="col">Order Id</th>
        <th scope="col">User</th>
        <th scope="col">Book</th>
        <th scope="col">Request Date</th>
        <th scope="col">Return Date</th>
        <th scope="col">Is Returned</th>
    </tr>
    <th:block th:each="order:${orders}" >
        <td th:text="${order.getId()}">orderId</td>
        <td th:text="${order.getUser()}">user</td>
        <td th:text="${order.getBook()}">book</td>
        <td th:text="${order.getTakeBook()}">requestTime</td>
        <td th:text="${order.getReturnBook()}">returnTime</td>
        <td th:text="${order.isReturned()}">isReturned</td>
    </th:block>
</table>
</body>
</html>